/* This styles the body background and spacing */
body {
    background-color: lightyellow; 
    margin: 0; 
}

/* This styles the main headings for each page */
h1 {
    text-align: center; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 3em; 
    margin: 20px; 
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin-left: 40px; 
    margin-right: 40px; 
}

/* This styles the paragraphs */
p {
    text-align: left; 
    font-size: 1.5em; 
    font-family: 'Arial'; 
    margin-left: 40px; 
    margin-right: 40px; 
    font-weight: normal; 
}

/* Ordered List Styling */
ol {
    font-family: 'Arial'; 
    font-size: 25px; 
    margin-left: 40px; 
    margin-right: 40px; 
    font-weight: normal; 
}

/* This styles the navigation bar, the links and its layout */
nav {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: right; 
    align-items: center; 
    background-color: lightsalmon; 
    color: white; 
    padding: 30px 20px; 
    font-size: 1.7em; 
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black; 
    margin-left: 20px; 
}

/* About Me Page */
.me {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.about-container {
    display: flex; 
    align-items: center;
    gap: 30px;
    margin: 30px; 
}

.about-container img {
    width: 430px; 
    max-width: 500px; 
    height: auto; 
}

.about-text {
    text-align: left; 
}

/* Home Page */
.home-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 30px; 

}

.home-container img {
    width: 430px;
    max-width: 500px;  
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 10px; 
}

/* Projects Page */
.projects {
    display: flex;
    justify-content: center; 
}

.image-project {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    align-items: center;
    height: auto; 
}

.image-project img {
    width: 600px; 
}

.ideas {
    margin: 10px; 
    padding: 7px 14px; 
}

/* Resume Page */
.resume-container {
    display: flex; 
    justify-content: center;
}

.resume-container img {
    width: 400px; 
    max-width: 500px; 
    padding: 0px; 
}

/* Contact Information Page */
.contact-container {
    text-align: center; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px; 
}

.contact-container p{
    text-align: center; 
}

/* This will styles all of the cards from each page */
.card-container {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    gap: 20px; 
    padding: 20px;
    justify-content: center; 
}

.card {
    min-width: 250px; 
    min-height: 50px; 
    flex-shrink: 0; 
    background: lightpink; 
    padding: 15px; 
    border-radius: 10px; 
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif; 
}

/* This will style the accordion for the FAQ Questions on the homepage */
.accordion {
    width: 600px;
    max-width: 700px; 
    margin: 40px auto; 
}

.accordion-item {
    margin-bottom: 10px; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 3px 7px rgb(0, 0, 0, 0.2); 
}

.accordion-button:not(.collapsed) {
    background-color: brown;
    color: white; 
    text-align: center; 
}

.accordion-button:hover {
    background-color: lightgreen; 
    transition: 0.4s; 
}

/* This will style all of the images of all of the pages. */
img {
    width: 300px;
    border-radius: 10px; 
    align-items: center; 
}

/* This styles the footer's apperance and layout */
footer {
    display: flex; 
    justify-content: center; 
    text-align: center; 
    background: lightsalmon;
    color: black; 
    padding: 30px; 
}
